﻿@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
* {
  font-family: "Roboto", sans-serif;
}

html {
  height: 100vh;
}

body {
  min-height: 100vh;
  color: #6d6e71;
  font-size: 14px;
}

.content {
  height: 100vh;
}

.flex-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.page-login {
    background: url(../images/login/backgroundLogin.png) no-repeat center;
    background-size: cover;
    background-color: #ffffff;
}

.page-login ::-moz-selection {
  background: #f37043;
  color: white;
}

.page-login ::selection {
  background: #f37043;
  color: white;
}

.section-login {
    padding: 50px 30px 30px;
    width: 100vw;
    max-width: 360px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px -8px;
}

.section-login header {
  padding-bottom: 35px;
  margin-bottom: 35px;
  border-bottom: 1px solid #f37043;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
}

.section-login header > img {
    margin: auto;
    max-height: 150px;
}

.section-login header .note {
  margin-top: 15px;
  font-size: 0.9rem;
}

.section-login header .note img {
  margin-left: 5px;
  width: 70px;
}

.section-login a {
  color: #2079b5;
  text-decoration: underline;
}

.section-login a:hover {
  color: #0d3149;
}

.section-login .form-login label {
  font-weight: 500;
}

.section-login .form-login input[type="text"],
.section-login .form-login input[type="password"] {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  border-radius: 7px;
  background: #ffffff;
  border: 1px solid #b4b4b4;
  transition: border 0.25s ease-out;
}

.section-login .form-login input[type="text"]:focus,
.section-login .form-login input[type="password"]:focus {
  border-color: #f37043;
  outline: none;
}

.section-login .form-login .btn-login {
  position: relative;
  margin-top: 2vh;
}

.section-login .form-login-bemvindo {
  margin-top: -20px;
}

.section-login .form-login-bemvindo .message {
  margin-top: 0;
}

.section-login .form-login-bemvindo .user {
  overflow: hidden;
}

.section-login .form-login-bemvindo .foto,
.section-login .form-login-bemvindo .nome {
  float: left;
}

.section-login .form-login-bemvindo .foto {
  width: 20%;
}

.section-login .form-login-bemvindo .foto img {
  margin: auto;
  max-width: 100%;
  display: block;
  border-radius: 5px;
}

.section-login .form-login-bemvindo .nome {
  width: 80%;
  padding-top: 20px;
  padding-left: 10px;
  line-height: 1.8rem;
  font-size: 2rem;
  word-break: break-all;
}

.section-login .form-login-bemvindo a.sair-totalmente {
  float: right;
  font-size: 0.9rem;
  vertical-align: bottom;
}

.section-login a.lembrar-senha {
  display: block;
  margin-top: 1vh;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}

.btn-login {
  display: block;
  width: 100%;
  background-color: #f37043;
  height: 40px;
  border-radius: 7px;
  border-bottom: 2px solid #db430e;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0 18px;
}

.btn-login:hover, .btn-login:focus, .btn-login:active {
  color: #ffffff;
  background-color: #f04c13;
  border-color: #ac340b;
}

.btn-login.disabled:hover, .btn-login.disabled:focus, .btn-login.disabled.focus, .btn-login[disabled]:hover, .btn-login[disabled]:focus, .btn-login[disabled].focus,
fieldset[disabled] .btn-login:hover,
fieldset[disabled] .btn-login:focus,
fieldset[disabled] .btn-login.focus {
  background-color: #f37043;
  border-color: #db430e;
}

@media (min-width: 750px) {
  .content-login {
    background: url(../image/login/bg_login_box.png) no-repeat center;
    height: 100vh;
  }
  .btn-login {
    width: auto;
    margin: auto;
  }
  .section-login {
      margin-top: 50px;
  }
}

/* custom ui*/
.validation-summary-errors {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid transparent;
    border-radius: 4px;
    border-color: #faccd1;
    color: #e8263d !important;
    background-color: #fcdee2;
}

.validation-summary-errors ul {
    margin-bottom: 0;
}