﻿.panel-pagamento {
    margin-bottom: 5px;
    border-radius: 0px;
}

    .panel-pagamento .checkout-price {
        font-size: 20px;
        font-weight: 600;
        color: #2c9f2c;
    }

div.widget hr {
    margin: 15px 0 !important;
}
