﻿<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <p class="nm text-muted">
                    Powered by <a href="" class="semibold" target="_blank"><img src="~/Content/image/logo/logo-leancommerce.png" height="15" /></a>
                </p>
            </div>
            @*<div class="col-sm-6 text-right hidden-xs">
                <a href="javascript:void(0);" class="semibold">Privacy Policy</a>
                <span class="ml5 mr5">•</span>
                <a href="javascript:void(0);" class="semibold">Terms of Service</a>
            </div>*@
        </div>
    </div>
</footer>