﻿@{
//string imagemUsuario = Url.Content("~/content/image/avatar/avatar.png");

//if (!String.IsNullOrWhiteSpace(ViewBag.Usuario.ImagemUrl))
//{
//    imagemUsuario = ViewBag.Usuario.ImagemUrl;
//}
}
<header id="header" class="navbar">
    <div class="navbar-header">
        <a class="navbar-brand" href="javascript:void(0);">
            <span class="logo-text"></span>
        </a>
    </div>
    <div class="navbar-toolbar clearfix">
        <ul class="nav navbar-nav navbar-left">
            <li class="hidden-xs hidden-sm">
                <a href="javascript:void(0);" class="sidebar-minimize" data-toggle="minimize" title="Minimize sidebar">
                    <span class="meta">
                        <span class="icon"></span>
                    </span>
                </a>
            </li>
            <li class="navbar-main hidden-lg hidden-md hidden-sm">
                <a href="javascript:void(0);" data-toggle="sidebar" data-direction="ltr" rel="tooltip" title="Menu sidebar">
                    <span class="meta">
                        <span class="icon"><i class="ico-paragraph-justify3"></i></span>
                    </span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            @*<li>
                    <a href="@Url.RouteUrl("Ajuda.Index")" class="@ViewBag.HeaderMenuAjuda"><i class="ico-question-sign"></i>&nbsp;AJUDA</a>
                </li>*@
            <li class="dropdown profile">
                <a href="javascript:void(0);" class="dropdown-toggle dropdown-hover" data-toggle="dropdown">
                    <span class="meta">
                        @*<span class="avatar"><img src="@imagemUsuario" class="img-circle" alt="" /></span>*@
                        @*<span class="text hidden-xs hidden-sm pl5">@ViewBag.Usuario.Nome</span>*@
                        <span class="caret"></span>
                    </span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    @*<li><a href="@Url.RouteUrl("Usuarios.MeusDados")"><span class="icon"><i class="ico-profile"></i></span> Meus Dados</a></li>
                        <li><a href="@Url.RouteUrl("Usuarios.AlterarSenha")"><span class="icon"><i class="ico-lock"></i></span> Alterar Senha</a></li>*@
                    <li class="divider"></li>
                    @*<li><a href="@Url.RouteUrl("Auth.LogOut")"><span class="icon"><i class="ico-exit"></i></span> Sair</a></li>*@
                </ul>
            </li>
        </ul>
    </div>
</header>