﻿<!DOCTYPE html>
<html class="backend" lang="pt-BR">
<head>
    <meta charset="utf-8">
    <title>Magis</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="LeanCommerce LTDA">
    <meta name="copyright" content="Leanwork Tecnologia LTDA">
    <meta name="robots" content="noindex, nofollow">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/content/image/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/content/image/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/content/image/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/content/image/touch/apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" href="~/content/image/favicon.ico">

    <link rel="stylesheet" href="~/content/stylesheet/bootstrap.css">
    <link rel="stylesheet" href="~/content/stylesheet/layout.css">
    <link rel="stylesheet" href="~/content/stylesheet/uielement.css">
    <link rel="stylesheet" href="~/content/stylesheet/custom.css">
    <link rel="stylesheet" href="~/content/stylesheet/loader.css">
    <link rel="stylesheet" href="~/content/stylesheet/themes/theme2.css">
    <link rel="stylesheet" href="~/content/plugins/jquery-ui/css/jquery-ui.css">
    <link rel="stylesheet" href="~/content/plugins/magnific/css/magnific.css">
    <link rel="stylesheet" href="~/content/plugins/ladda/css/ladda.css" />
    <link rel="stylesheet" href="~/content/plugins/toastr/toastr.min.css" />
    <link rel="stylesheet" href="~/content/plugins/datatables/css/datatables.css">
    <link rel="stylesheet" href="~/content/plugins/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/content/plugins/select2/css/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="~/content/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="~/content/plugins/spectrumjs/spectrum.css" />
    <link rel="stylesheet" href="~/content/plugins/daterangepicker/css/jquery.comiseo.daterangepicker.min.css" />
    <link rel="stylesheet" href="~/content/plugins/bootstrap-multiselect/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="~/Content/plugins/sweetalert2/sweetalert2.min.css" />
    <link rel="stylesheet" href="~/Content/stylesheet/font-awesome/font-awesome.min.css" />
    @RenderSection("CssPage", required: false)

    <script type="text/javascript" src="~/content/plugins/modernizr/js/modernizr.js"></script>
    <script type="text/javascript" src="~/content/javascript/vendor.js"></script>
    <script type="text/javascript" src="~/content/javascript/jquery.functions.js"></script>
    <script type="text/javascript" src="~/content/javascript/angular.min.js"></script>
    <script type="text/javascript" src="~/Content/javascript/angular-locale_pt-br.js"></script>
    <script type="text/javascript" src="~/content/javascript/angular-upload.min.js"></script>
    <script type="text/javascript" src="~/content/javascript/angular-masks.js"></script>
    <script type="text/javascript" src="~/content/plugins/moment/moment.min.js"></script>
    <script type="text/javascript" src="~/content/plugins/moment/moment-with-locales.js"></script>
    <script type="text/javascript" src="~/content/javascript/components/loader.js"></script>
    <script src="https://use.fontawesome.com/81788838bc.js" async></script>
    @*@Html.Partial("_ApplicationInsights")*@
</head>
<body ng-app="LeanCommerce.Admin">
    @Html.Partial("_Header")
    @Html.Partial("_Sidebar")
    @Html.Partial("_Footer")
    <section id="main" role="main">
        <div class="container-fluid">
            @RenderBody()
        </div>
        <a href="#" class="totop animation" data-toggle="waypoints totop" data-showanim="bounceIn" data-hideanim="bounceOut" data-offset="50%"><i class="ico-angle-up"></i></a>
    </section>
    <loader></loader>

    <script>
        (function () {
            'use strict';

            angular
                .module('LeanCommerce.Admin', ['ui.utils.masks'])
                .directive('loader', Loader)
                .service('LoaderInterceptor', LoaderInterceptor)
                .config(['$httpProvider', function ($httpProvider) {
                    $httpProvider.interceptors.push('LoaderInterceptor');
                }]);

            /*
            * @@name Loader
            * @@decription Diretiva que apresenta um loading.
            */
            Loader.$inject = ['$rootScope'];
            function Loader($rootScope) {
                return {
                    restrict: "E",
                    link: function ($scope, element, attrs) {
                        $(element)
                            .addClass("loader")
                            .html('<img width="60px" height="60px" src="/content/image/loading/spinner-loader.gif">');

                        $scope.$on("loader_show", function () {
                            return $(element).show();
                        });
                        return $scope.$on("loader_hide", function () {
                            return $(element).hide();
                        });
                    }
                };
            };

            /*
            * @@name HttpLoader
            * @@decription Interceptador exibe o loading enquanto houver requisições HTTP
            */
            LoaderInterceptor.$inject = ['$q', '$rootScope', '$log'];
            function LoaderInterceptor($q, $rootScope, $log) {
                'use strict';
                var xhrCreations = 0;
                var xhrResolutions = 0;

                function isLoading() {
                    return xhrResolutions < xhrCreations;
                }

                function updateStatus() {
                    $rootScope.$broadcast(isLoading() ? "loader_show" : "loader_hide");
                }

                return {
                    request: function (config) {
                        xhrCreations++;
                        updateStatus();
                        return config;
                    },
                    requestError: function (rejection) {
                        xhrResolutions++;
                        updateStatus();
                        $log.error('Request error:', rejection);
                        return $q.reject(rejection);
                    },
                    response: function (response) {
                        xhrResolutions++;
                        updateStatus();
                        return response;
                    },
                    responseError: function (rejection) {
                        xhrResolutions++;
                        updateStatus();
                        $log.error('Response error:', rejection);
                        return $q.reject(rejection);
                    }
                };
            }
        })();
    </script>
    <script type="text/javascript">
        (function (global) {
            var token = '@Html.AntiForgeryToken()';
            var objToken = { 'AntiForgeryToken': $(token).val() };
            var leancommerce = global.LeanCommerce || {};

            global.LeanCommerce = Object.assign({}, leancommerce, objToken);
        })(window || {});
    </script>

    <script type="text/javascript" src="~/content/javascript/core.js"></script>
    <script type="text/javascript" src="~/content/javascript/app.js"></script>
    <script type="text/javascript" src="~/content/javascript/angular-componentes.js"></script>
    <script type="text/javascript" src="~/content/plugins/jquery-ui/js/jquery-ui.js"></script>
    <script type="text/javascript" src="~/content/plugins/jquery-ui/js/jquery-ui-pt-br.js"></script>
    <script type="text/javascript" src="~/content/plugins/jquery-ui/js/jquery-ui-touch.js"></script>
    <script type="text/javascript" src="~/content/plugins/jquery-ui/js/addon/timepicker/jquery-ui-timepicker.js"></script>
    <script type="text/javascript" src="~/content/plugins/jquery-ui/js/addon/timepicker/jquery-ui-timepicker-pt-BR.js"></script>
    <script type="text/javascript" src="~/content/plugins/prettify/js/prettify.js"></script>
    <script type="text/javascript" src="~/content/plugins/magnific/js/jquery.magnific-popup.js"></script>
    <script type="text/javascript" src="~/content/plugins/ladda/js/vendor/spin.js"></script>
    <script type="text/javascript" src="~/content/plugins/ladda/js/ladda.js"></script>
    <script type="text/javascript" src="~/Content/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script type="text/javascript" src="~/content/plugins/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="~/content/plugins/bootbox/bootbox.js"></script>
    <script type="text/javascript" src="~/content/plugins/parsley/js/parsley.js"></script>
    <script type="text/javascript" src="~/content/plugins/parsley/js/pt-br.js"></script>
    <script type="text/javascript" src="~/content/plugins/datatables/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/content/plugins/datatables/js/datatables-bs3.js"></script>
    <script type="text/javascript" src="~/Content/plugins/select2/js/select2.min.js"></script>
    <script type="text/javascript" src="~/Content/plugins/select2/pt-BR.js"></script>
    <script type="text/javascript" src="~/content/plugins/inputmask/js/inputmask.js"></script>
    <script type="text/javascript" src="~/content/plugins/priceformat/js/jquery.price_format.1.8.min.js"></script>
    <script type="text/javascript" src="~/content/plugins/chartjs/chart.js"></script>
    <script type="text/javascript" src="~/content/plugins/angular-chart/angular-chart.min.js"></script>
    <script type="text/javascript" src="~/content/plugins/daterangepicker/js/jquery.comiseo.daterangepicker.min.js"></script>
    <script type="text/javascript" src="~/content/plugins/spectrumjs/spectrum.js"></script>
    <script type="text/javascript" src="~/content/plugins/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="~/content/javascript/forms/ajax.js"></script>
    @RenderSection("ScriptPage", required: false)
    <script>
        setTimeout(function () {
            $('text[text-anchor="end"]').each(function (i, item) {
                if ($(this).text() == "Highcharts.com") {
                    $(this).hide();
                }
            });
        }, 500);
    </script>
</body>
</html>