﻿@*@using Centauro.Hodos.Domain.Models.Menu
@{
    MenuModel MenuModel = ViewBag.MenuModel;
}*@
<aside class="sidebar sidebar-left sidebar-menu">
    <section class="content slimscroll">
        <h5 class="heading">Menu</h5>
        <ul class="topmenu topmenu-responsive" data-toggle="menu">
            <li class="@SetActive(ViewBag.SidebarMenuInicio)">
                <a href="">
                    <span class="figure"><i class="ico-home"></i></span>
                    <span class="text">Início</span>
                </a>
            </li>
            @*<!-- LOJAS -->
        @if (MenuModel.HasGroup("LOJAS"))
        {
            <li class="@SetActive(ViewBag.SidebarMenuLojas)">
                <a href="javascript:void(0);" data-toggle="submenu" data-target="#menuVendas" data-parent=".topmenu">
                    <span class="figure"><i class="ico-shopping-cart fsize16"></i></span>
                    <span class="text">Lojas</span>
                    <span class="arrow"></span>
                </a>
                <ul id="menuVendas" class="submenu @SetOpen(ViewBag.SidebarMenuLojas)" aria-expanded="true">
                    <li class="submenu-header ellipsis">Lojas</li>
                    @if (MenuModel.HasOperation("Lojas.Dashboard"))
                    {
                        <li class="@SetActive(ViewBag.SidebarMenuLojasDashboard)">
                            <a href="@Url.RouteUrl("Lojas.Dashboard")">
                                <span class="text">Dashboard</span>
                            </a>
                        </li>
                    }
                    @if (MenuModel.HasOperation("Lojas.Index"))
                    {
                        <li class="@SetActive(ViewBag.SidebarMenuLojasListagem)">
                            <a href="@Url.RouteUrl("Lojas.Index")">
                                <span class="text">Lista</span>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }
        <!-- FATURAMENTOS -->
        @if (MenuModel.HasGroup("FATURAMENTOS"))
        {
            <li class="@SetActive(ViewBag.SidebarMenuFaturamentos)">
                <a href="javascript:void(0);" data-toggle="submenu" data-target="#menuFaturamentos" data-parent=".topmenu">
                    <span class="figure"><i class="ico-credit2 fsize16"></i></span>
                    <span class="text">Faturamentos</span>
                    <span class="arrow"></span>
                </a>
                <ul id="menuFaturamentos" class="submenu @SetOpen(ViewBag.SidebarMenuFaturamentos)" aria-expanded="true">
                    <li class="submenu-header ellipsis">Faturamentos</li>
                    @if (MenuModel.HasOperation("FaturamentosDashboard.Index"))
                    {
                        <li class="@SetActive(ViewBag.SidebarMenuFaturamentosDashboard)">
                            <a href="@Url.RouteUrl("FaturamentosDashboard.Index")">
                                <span class="text">Dashboard</span>
                            </a>
                        </li>
                    }
                    @if (MenuModel.HasOperation("Faturamentos.Index"))
                    {
                        <li class="@SetActive(ViewBag.SidebarMenuFaturamentosListagem)">
                            <a href="@Url.RouteUrl("Faturamentos.Index")">
                                <span class="text">Lista</span>
                            </a>
                        </li>
                    }
                </ul>
            </li>
        }*@

            @*@if (ViewBag.Usuario.Master)
        {*@
            <li class="">
                <a href="">
                    <span class="figure"><i class="ico-users"></i></span>
                    <span class="text">Usuários</span>
                </a>
            </li>
            @*  }*@
        </ul>
        <!--<div class="wrapper logo">
            <div class="table-layout">
                <div class="col-xs-7 valign-middle">
                    <span class="logo-text logo-by"></span>
                </div>
            </div>
        </div>-->
    </section>
</aside>

@functions {
    string SetActive(bool? active)
    {
        return (active.HasValue && active.Value) ? "active open" : "";
    }

    string SetOpen(bool? active)
    {
        return (active.HasValue && active.Value) ? "collapse in" : "collapse";
    }
}