﻿@model  Magis.Models.Auth.LogInModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html class="backend" lang="pt-BR">
<head>
    <meta charset="utf-8">
    <title>Administração - LeanCommerce</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="LeanCommerce LTDA">
    <meta name="copyright" content="LeanWork Tecnologia LTDA">
    <meta name="robots" content="noindex, nofollow">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/content/image/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/content/image/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/content/image/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/content/image/touch/apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" href="~/content/image/favicon.ico">

    <link rel="stylesheet" href="~/content/stylesheet/bootstrap.css">
    <link rel="stylesheet" href="~/content/stylesheet/lean-login.css">
    <link rel="stylesheet" href="~/content/plugins/ladda/css/ladda.css" />

</head>

<body class="page-login">
    <div id="content" class="content content-login flex-container">
        <section class="wrapper section-login">
            <header>
                @if (ViewBag.LogoLoja != null)
                {
                    <img src="@ViewBag.LogoLoja" class="img-responsive" itemprop="image">
                }
                else if (ViewBag.NomeLoja != null)
                {
                    <h2 class="nm">@ViewBag.NomeLoja</h2>
                }
                else
                {
                    <img src="~/Content/images/login/logoFinal.png" alt="LeanCommerce" NomeLoja" class="img-responsive" itemprop="image">
                }
            </header>
            @Html.ValidationSummary()
            <form id="form-login" class="form-login" action="@Url.RouteUrl("Auth.LogIn")" method="post" data-parsley-validate>
                <input type="hidden" name="returnUrl">
                <div class="form-login-nome form-group">
                    <label for="Email">Login</label>
                    <input name="Email" id="Email" type="text" maxlength="100" value="" data-parsley-requireds>
                </div>
                <div class="form-login-bemvindo form-group hidden">
                    <h3 class="message">Bem-vindo(a)</h3>
                    <div class="user">
                        <div class="foto"> <img src="@Url.Content("~/content/image/avatar/avatar.png")" alt=""> </div>
                        <div class="nome"> </div>
                    </div> <a href="#" class="sair-totalmente">Acessar outra conta</a>
                </div>
                <div class="form-group">
                    <label for="Senha">Senha</label>
                    <input name="Senha" id="Senha" type="password" value="" maxlength="50" data-parsley-requireds>
                </div>
                <div class="form-group">
                    <button id="btn-login" type="submit" class="btn btn-login ladda-button" data-style="slide-down">
                        <span class="semibold ladda-label">Entrar</span>
                    </button>
                    <a href="#" class="lembrar-senha">
                        Esqueci minha senha
                    </a>
                </div>
            </form>
        </section>
    </div>    
    <script type="text/javascript" src="~/content/javascript/vendor.js"></script>
    <script type="text/javascript" src="~/content/javascript/core.js"></script>    
    <script type="text/javascript" src="~/content/plugins/parsley/js/parsley.js"></script>
    <script type="text/javascript" src="~/content/plugins/parsley/js/pt-br.js"></script>
    <script type="text/javascript" src="~/content/plugins/ladda/js/vendor/spin.js"></script>
    <script type="text/javascript" src="~/content/plugins/ladda/js/ladda.js"></script>
    <script>
        jQuery(function () {
            'use strict';
            try {
                var ladda = Ladda.create(document.getElementById('btn-login'));
                var $form = $('#form-login');
                $form.on('submit', function (event) {
                    event.stopPropagation();
                    event.preventDefault();
                    if ($form.parsley().validate()) {
                        ladda.start();
                        $form.off('submit').trigger('submit');
                    }
                });

            } catch (e) {
                console.warn(e);
            }
        });
    </script>
    <script>
        if (typeof (Storage) !== "undefined") {
            var _metauser = localStorage.getItem("meta_user");
            if (_metauser) {
                var user = JSON.parse(_metauser);
                document.querySelector('.form-login-bemvindo').classList.remove('hidden');
                document.querySelector('.form-login-nome').classList.add('hidden');
                document.querySelector('.form-login-bemvindo .user .foto img').src = user.photo;
                document.querySelector('.form-login-bemvindo .user .nome').innerHTML = user.name;
                document.querySelector('#Email').value = user.email;
                document.querySelector('.form-login-bemvindo a.sair-totalmente').addEventListener("click", function (e) {
                    e.preventDefault();
                    document.querySelector('.form-login-bemvindo').classList.add('hidden');
                    document.querySelector('.form-login-nome').classList.remove('hidden');
                    localStorage.removeItem("meta_user");
                });
            }
        }
    </script>
</body>
</html>